* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black;  */
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
    margin: 0;
    background-color: #f7f7f8;
}

.solpanel {
    width: 240px;
    height: 100%;
    background-color: #f0f2f5;
    margin-top: 50px;
    padding: 18px 3px 5px 5px;
    position: fixed;
    float: left;
    display: fixed;
    justify-content: flex-start;
    z-index: 0;
}

h2 {
    font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}

.basyazı {
    padding-left: 13px;
}

.oneriyaz {
    font-size: 13px;
    color: #0e0e10;
    padding-left: 7px;
}

.oneri {
    width: 240px;
    height: 16px;
}

.önerilen {
    width: 180px;
    height: 30px;
    text-align: left;
    font-weight: 600;
    line-height: 1.2;
    font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    margin-right: 15px;


}

.önerilensekil {
    background-color: #f0f2f5;
    border: 0;
    width: 20px;
    height: 20px;
    margin-left: -195px;
    display: none;
}

.daraltgenişlet {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #f0f2f5;
    margin-top: -5px;
}

.logo {
    width: 40px;
    height: 40px;
    clear: both;
    float: left;
}

.logo img {

    border-radius: 9000px !important;

}

.text {
    width: 130px;
    height: 40px;
    float: left;
}

.t1 {
    clear: both;
    width: 135px;
    height: 17px;
    font-size: 14px;
    color: #1f1f23;
    font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600 !important;
    line-height: 1.2 !important;
}

.t2 {
    clear: both;
    width: 130px;
    height: 16px;
    font-size: 13px;
    font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #53535f;
}

.abonelik {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    float: left;
}

.reddot {
    background-color: #eb0400;
    border-radius: 9000px;
    width: 8px;
    height: 8px;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
}

.t3 {
    width: 50px;
    height: 40px;
    font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #1f1f23;
    font-size: 13px;

}


/* >>>>>>   Üst Panel  <<<<<<< */

.maintop {

    width: 100%;
    height: 100%;

}

.baslık {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    position: fixed;
}

.headersol {
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    float: left;

}

.twitchlogo {

    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
    float: left;
    cursor: pointer;
}

.gözat {
    color: #0e0e10;
    font-size: 14px;
    float: left;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    width: 60px;
    height: 50px;
}


.gözat:hover {
    color: #5c16c5;
}

.üçnokta {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    float: left;
    margin-top: 8px;
    background-color: white;
    cursor: pointer;

}

.üçnokta:hover {
    background-color: #d2d2d2;
}

.aramacubugu {
    width: 384px;
    height: 34px;
    margin-top: 6px;
    background-color: #efeff1;
    border-radius: 5px;
    float: left;
    margin-left: 28%;

}

.aramacubugutext {
    width: 350px;
    height: 32px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #3b3b44;
}

.aramacubugutext::placeholder {
    padding: 5px;
    color: #c4c3c3;
}

.aralogo {
    width: 26px;
    height: 34px;
    float: right;
    border: 1px solid #efeff1;

    border-radius: 5px;

}

.yeniprime {
    width: 30px;
    height: 30px;
    float: left;

    margin-top: 11px;
    background-color: white;
    border: 1px solid #fff;
    margin-right: 0.5rem;
    cursor: pointer;
}

.yeniprime:hover {
    background-color: #d2d2d2;
}

.oturumac {
    width: 100px;
    height: 30px;
    background-color: #f0f2f5;
    border: 1px solid #fff;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-right: 0.5rem;
    float: left;

}

.oturumac:hover {
    background-color: #dfdede;
}

.kayıtol {
    color: white;
    background-color: #9147ff;
    border-radius: 8px;
    font-size: 0.8rem;
    text-align: center;
    width: 80px;
    height: 30px;
    border: 1px solid #9147ff;
    cursor: pointer;
    float: left;
    margin-top: 10px;
    margin-right: 0.5rem;

}

.kayıtol:hover {
    background-color: #5c16c5;
}

.kişiresmi {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    background-color: white;
    border: 1px solid #fff;
    cursor: pointer;


}

.kişiresmi:hover {
    background-color: #c4c3c3;
}

.headersag {


    height: 50px;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    margin-right: 1rem !important;
    margin-left: auto !important;


}

.center {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* >>>>>>   Orta Panel  <<<<<<< */

.ortapanel {
    width: calc(100% - 240px);
    height: calc(100% - 50px);
    background-color: #f7f7f8;
    float: left;
    margin-left: 240px;
    margin-top: 50px;
    display: fixed;
    justify-content: flex-end;
}

.ortakutu {

    background-color: #f7f7f8;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {

    width: 30px;
    height: 30px;
    border: 0;
    background-color: white;


}

.solbutton {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button2 {
    width: 30px;
    height: 30px;
    border: 0;
    background-color: white;


}

.button1:hover {
    background-color: #d2d2d2;
}

.button2:hover {
    background-color: #d2d2d2;
}

.sağbutton {

    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.yayın {
    background-color: #e6e6ea;
    box-shadow: 0 6px 16px rgba(0, 0, 0, .16), 0 0px 4px rgba(0, 0, 0, .05);
    width: 750px;
    height: 300px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.orta {
    background-color: #f7f7f8;
    margin-left: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    align-items: center;
    gap: 10px;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px 10px;
}

h3 {
    color: #0e0e10;
    margin-left: 8px;
    font-size: 14px;
    margin-top: 20px;
    clear: both;
    font-family: "Roobert", "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

a {
    color: #5c16c5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.üst1 {
    width: 100%;
    margin: 10px;
    background-color: #9147ff;
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;


}

.üst1:hover {
    box-shadow: -5px 5px 5px #5c16c5;
    transform: translate(5px, -5px);
    transition: transform 0.3s;

}

.üst2 {
    width: 100%;
    margin: 10px;
    background-color: #220a79;
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
}

/* .üst2:nth-child(1):hover .hover-border {
    transform: scaleX(1);
    background-color: purple;
}

.üst2:nth-child(2):hover .hover-border {
    transform: scaleX(1);
    background-color: blue;
}

.üst2:nth-child(3):hover .hover-border {
    transform: scaleX(1);
    background-color: red;
}

.üst2:nth-child(4):hover .hover-border {
    transform: scaleX(1);
    background-color: orange;
} */
.üst2:hover {
    box-shadow: -5px 5px 5px #00ADFF;
    transform: translate(5px, -5px);
    transition: transform 0.3s;

}

.üst3 {
    width: 100%;
    margin: 10px;
    background-color: #47ffd1;
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
}

.üst3:hover {
    box-shadow: -5px 5px 5px #9fc516;
    transform: translate(5px, -5px);
    transition: transform 0.3s;

}

.üst4 {
    width: 100%;
    margin: 10px;
    background-color: #47ffd1;
    display: flex;
    flex-direction: column;
    position: relative;
    float: left;
}

.üst4:hover {
    box-shadow: -5px 5px 5px #16c5a8;
    transform: translate(5px, -5px);
    transition: transform 0.3s;

}

p.yazıalt1 {
    color: #53535f;
    margin: 0px !important;
    font-size: 13px;
    font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.category {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    padding: 0px 8px;
    color: #53535f;
}


.altalt1 {
    color: #53535f;
    text-decoration: none;
    font-size: 13px;
    font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.altalt1:hover {
    text-decoration: none;
    color: #5c16c5;

}

.yazıbutton1 {
    display: inline-block;
    border-radius: 10px;
    font-weight: 600;
    color: #53535f;
    border: 2px solid transparent;
    width: auto;
    height: 2rem;
    max-width: 100%;
    background-color: hsla(240, 7%, 70%, .22);

}

.yazıbutton1:hover {
    background-color: #96969c;
}

p yazıalt2 {
    color: #53535f;
    margin-left: 20px;
}


.altalt2 {
    color: #53535f;
    text-decoration: none;

}

.altalt2:hover {
    text-decoration: none;
    color: #5c16c5;

}

.yazıbutton2 {
    border-radius: 5px;
    color: #000;
    border: 0;
    width: 45px;
    height: 15px;
    background-color: #e2e2ee;


}

.yazıbutton2:hover {
    background-color: #96969c;
}

p yazıalt3 {
    color: #53535f;
    margin-left: 20px;

}


.altalt3 {
    color: #53535f;
    text-decoration: none;

}

.altalt3:hover {
    text-decoration: none;
    color: #5c16c5;

}

.yazıbutton3 {
    border-radius: 5px;
    color: #000;
    border: 0;
    width: 45px;
    height: 15px;
    background-color: #e2e2ee;


}

.yazıbutton3:hover {
    background-color: #96969c;
}


.yazıdivi {

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;

}


p yazıalt4 {
    color: #53535f;
    margin-left: 20px;
}


.altalt4 {
    color: #53535f;
    text-decoration: none;

}

.altalt4:hover {
    text-decoration: none;
    color: #5c16c5;

}

.yazıbutton4 {
    border-radius: 5px;
    color: #000;
    border: 0;
    width: 45px;
    height: 15px;
    background-color: #e2e2ee;


}

.yazıbutton4:hover {
    background-color: #96969c;
}

.yayınlar {
    background-color: #f7f7f8;
    height: 280px;
    margin-left: 30px;
    margin-bottom: 20px;

    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 0;

}

.yayın1 {
    position: relative;
    width: 19.9%;
    float: left;
    padding-left: 5px;
    margin-bottom: 8px;
}

.yl {
    display: inline-flex;
    width: 40px;
    height: 90px;
}

.yayın2 {
    position: relative;
    width: 50%;
    float: left;
    padding: 0px auto;
    padding-right: 5px;
    margin-bottom: 8px;
}


.kutu {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

}

.kutu1 {
    display: inline-flex;
    height: 0.5px;
    width: 45.5%;
    background-color: #d2d2d2;
    float: left;

}

.kutu2 {
    float: left;
    color: #5c16c5;
    border: 0;
    background-color: #f7f7f8;
    fill: #5c16c5;
    display: flex;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    align-items: center;


}

.kutu2 p {
    float: left;
    width: 109px;
    font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.kutu2 svg {
    float: left;

}

.kutu2:hover {
    color: #000;
    background-color: #d2d2d2;
    fill: #000;
}

.tw-image {
    border: none;
    max-width: 100%;
    vertical-align: top;
    float: left;
}

.resim {

    float: left;
    margin-left: 8px;
    height: 40px;
}

.logo+yazı {
    /* (370*90) */
    position: absolute;
    width: auto;
    height: auto;
}

.altyazısı {

    float: left;
    margin-left: 10px;
    width: 320px;
    height: 90px;


}

.altyazısı h3 {
    margin-top: -5px;
    margin-left: 2px;


}

.altyazısı h3:hover {
    color: #9147ff;


}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 61px;
    position: fixed;
    background-color: #451093;
    border-radius: 5px;
    bottom: 0;
}

img {
    border: none;
    max-width: 100%;
    vertical-align: top;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p.text1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.3rem !important;
    float: left;
    color: #fff;
}

img.cat {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    float: left;
}

.footerdiv {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: auto !important;
    margin-right: 2rem !important;
}

.footeric {
    height: 40px;
    width: 100%;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}

button.button-footer {
    margin-left: auto !important;
    margin-right: 2rem !important;
}

@media(min-width: 2279px) {

    .yayınlar {
        width: 2000px;
        height: auto;
    }

    .yayın1 {
        width: 16.5%;
        float: left;
        margin: 0px;
    }

    .yayın2 {
        width: 50%;
        float: left;
        margin: 0px;
    }

}

@media(max-width: 2278px) {


    .yayınlar {
        width: 2000px;
        height: auto;
    }

    .yayın1 {
        width: 15.1%;
        float: left;
        margin: 0px;
    }

    .yayın2 {
        width: 50%;
        float: left;
        margin: 0px;
    }

}

@media(max-width:2072px) {

    .yayınlar {
        width: auto;
        height: auto;
    }

    .yayın1:nth-last-child(2) {
        display: none;
    }

    .yayın1 {
        width: 19.8%;
        float: left;
        margin: 0px;
    }

    .yayın2 {
        width: 50%;
        float: left;
        margin: 0px;
    }


}

@media(max-width:1772px) {

    .yayın1:nth-last-child(3) {
        display: none;
    }

    .yayın1 {
        width: 24.7%;
        float: left;
        margin: 0px;
    }

    .yayın2 {
        width: 50%;
        float: left;
        margin: 0px;
    }
}

@media(max-width:1472px) {

    .yayın1:nth-last-child(4) {
        display: none;
    }

    .yayın1 {
        width: 32.9%;
        float: left;
        margin: 0px;
    }

    .yayın2 {
        width: 50%;
        float: left;
        margin: 0px;
    }

}

@media(max-width:1200px) {

    .aramacubugu {
        margin: 8px 15% 0%;

    }

    .yayın1 {
        width: 32.6%;
        float: left;
        margin: 0px;
    }

    .yayın2 {
        width: 50%;
        float: left;
        margin: 0px;
    }

    .solpanel {
        width: 40px;
    }

    h2.oneriyaz {
        display: none;
    }

    .oneri {
        width: 30px;
    }

    .önerilen {
        display: none;
    }

    .daraltgenişlet {
        display: none;

    }

    .text {
        display: none;
    }

    .t1 {
        display: none;
    }

    .t2 {
        display: none;
    }

    .abonelik {
        display: none;
    }

    .reddot {
        display: none;
    }

    .t3 {
        display: none;

    }

    .ortapanel {
        margin-left: 40px;
        width: auto;
    }
}

@media(max-width:982px) {
    .yayın1:nth-last-child(5) {
        display: none;
    }

    .aramacubugu {
        display: flex;
        justify-content: flex-end;
        width: auto;
        height: 34px;
        margin-top: 6px;
        background-color: #fff;
        border-radius: 5px;
        float: left;
        margin: 8px 10% 0%;

    }

    .headerorta {
        justify-content: flex-end;
    }

    .kutu1 {
        width: 40%;
    }

    .yayın1 {
        width: 48.8%;
        float: left;
        margin: 0px;
    }

    .yayın2 {
        width: 50%;
        float: left;
        margin: 0px;

    }
}

@media(max-width:760px) {

    .aramacubugutext {
        display: none;
    }

    .kutu1 {
        width: 35%;
    }

    .yazıdıv {
        width: 150px;
        height: 23px;
    }
}